<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev.googlemaps"
        version   = "1.0.7">

    <name>Track</name>

    <description>
        My track
    </description>

    <author email="huaj1_15@uni.worc.ac.uk">
        Huang Jingjing
    </author>

<!-- removed to allow cordova-plugin-geolocation-android-activator to work-->
	
    <!-- <preference name="phonegap-version" value="cli-7.0.1" />-->
	
    
   	<plugin name="cordova-plugin-whitelist" version="1" />
    
    <plugin name="cordova-plugin-vibration" spec="~3.1.0" />
    
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    
    <!--Android 6.0 or newer: Plugin to support runtime permissions--> 
    <plugin name="cordova-plugin-geolocation-android-activator" spec="1.1.2" />
    
    <!--Plugin to support gathering of location data--> 
    <plugin name="cordova-plugin-geolocation" spec="3.0.0"/>
    
    <plugin name="cordova-plugin-dialogs" spec="~1.3.4" />
    
    <!--Apple iOS 10 or newer: Adding a parameter to the ios build to allow suer to give permission to access location-->
    <config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" mode="merge">
        <array>
            <key>NSLocationWhenInUseUsageDescription</key>
            <string>Give me your location! Let me have it!!!</string>
        </array>
    </config-file>
    
</widget>
